/*  SECTION 1  HERO  */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@font-face {
    font-family: "VCHoney-Bold";
    src: url("./supports/fonts/Honey/web/VCHoney-Bold.woff2") format("woff2"),
        url("./supports/fonts/Honey/web/VCHoney-Bold.woff") format("woff");
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 72px 120px 0px 120px;
    max-width: 1200px;
    margin: auto;
}

.section1_text h1 {
    font-family: "VCHoney-Bold", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
    color: #262626;
}
.section1_text p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    text-align: left;
    color: #4f4f4f;
}
.section1_text strong {
    font-weight: 700;
}

.section1_img {
    display: block;
    margin-left: 88px;
}
.section1_img img {
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 992px) {
    .section1 {
        padding: 48px 48px 0px 48px;
    }

    .section1_img {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .section1 {
        padding: 48px 24px 0px 24px;
    }
}
