/*  SECTION 3  Collection, text only, media, desktop, description  DEBUT  */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.section3{
    background-color: #e2bc7914;
}
.section3_in {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 72px 120px 72px 120px;
    max-width: 1200px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section3_in_text {
    display: flex;
    flex-direction: column;
}
.section3_in_text_badge {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    background-color: #ffffff;
    color: #e2bc79;
    border-radius: 24px;
    margin: 0;
    padding: 8px 16px 8px 16px;
}
.section3_in_text_badge i {
    margin-right: 9px;
}
.section3_in_text h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    color: #262626;
    margin: 24px 0px 24px 0px;
}
.section3_in_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #4f4f4f;
    margin: 0;
    max-height: 230px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.section3_in_text_link {
    margin: 4px 0px 24px 0px;
}
.section3_in_text a {
    text-decoration: underline;
}
.section3_in_text button {
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    background-color: #e2bc79;
    color: #ffffff;
    width: 200px;
    height: 58px;
    border-radius: 45px;
    border: none;
}
.section3_in_text button:hover{
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
}

.section3_img {
    margin-left: 48px;
}
.section3_in_img img {
    width: 661.47px;
    height: 495px;
}

@media only screen and (max-width: 1200px) {
    .section3_in_img {
        display: none;
    }
}
@media only screen and (max-width: 992px) {
    .section3_in {
        padding: 48px 48px 48px 48px;
    }
    .section3_in_text p {
        max-height: 78px;
    }
}
@media only screen and (max-width: 576px) {
    .section3_in {
        padding: 48px 24px 64px 24px;
    }
    .section3_in_text p {
        max-height: 200px;
    }
}
