/* 
https://www.wenabi.com/

https://www.figma.com/file/MYRNn1omUGaYNOS22IBIzc/Web-App-0.1?node-id=482%3A16990
https://www.figma.com/file/UMBrzUngbB4vXeTGqvZM1T/Design-system-0.1?node-id=4265%3A23662

https://mdbootstrap.com/docs/standard/getting-started/installation/

https://github.com/paulstilhart/wenabi
https://paulstilhart.github.io/wenabi/



https://vincentdubroeucq.com/slider-carrousel-sans-js-css-scoll-snap/

section 9 button hover avec shadow
intégré mais on voit rien


De ce que je vois dans mdboostratp ils utilisent un truc comme ça pour la font : font-size: calc(1.625rem + 4.5vw);
Si ça te parait pas adapté ou trop compliqué on peut faire 3 fonts en fonction du format de l'écran

Possible de le faire, mais cela est souvent lourd, car le navigateur calcule toutes les fonts.
C'est au choix :)

la barre de s

*/

/*  SECTION 1  HERO  */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@font-face {
    font-family: "VCHoney-BoldBanner";
    src: url("./supports/fonts/Honey/web/VCHoney-BoldBanner.woff2") format("woff2"),
        url("./supports/fonts/Honey/web/VCHoney-BoldBanner.woff") format("woff");
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 72px 120px 0px 120px;
    max-width: 1200px;
    margin: auto;
}

.section1_text h1 {
    font-family: "VCHoney-BoldBanner", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
    color: #262626;
}
.section1_text p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    text-align: left;
    color: #4f4f4f;
    margin-bottom: 24px;
}
.section1_text strong {
    font-weight: 700;
}
.section1_text button {
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    background-color: #007dff;
    color: #ffffff;
    width: 246px;
    height: 58px;
    border-radius: 45px;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
.section1_text button:hover {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
}

.section1_img {
    display: block;
    margin-left: 88px;
}
.section1_img img {
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 992px) {
    .section1 {
        padding: 48px 48px 0px 48px;
    }

    .section1_img {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .section1 {
        padding: 48px 24px 0px 24px;
    }
}

/* SECTION 2 Slider of collections, light, web  DEBUT */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.section2 {
    padding: 72px 0px 72px 120px;
    max-width: 1200px;
    margin: auto;
}

.section2 h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    color: #262626;
    margin-bottom: 24px;
}

.section2_buttons {
    display: flex;
    overflow-x:auto;
    flex-wrap: wrap;
}
.section2_buttons button {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    color: #007dff;
    background: linear-gradient(0deg, rgba(0, 125, 255, 0.08), rgba(0, 125, 255, 0.08)), #ffffff;
    border-radius: 24px;
    border: none;
    margin: 0px 24px 24px 0px;
    padding: 10px 20px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    flex: none;
}
.section2_buttons button:hover {
    background: linear-gradient(0deg, rgba(0, 123, 255, 0.16), rgba(0, 125, 255, 0.16)), #ffffff;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
}
.section2_buttons span {
    margin-right: 8px;
}

@media only screen and (max-width: 992px) {
    .section2 {
        padding: 48px 48px 48px 48px;
    }
    .section2_buttons {
        display: flex;
        overflow-x:auto;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 576px) {
    .section2 {
        padding: 48px 24px 48px 24px;
    }
}

/*  SECTION 3  Collection, text only, media, desktop, description  DEBUT  */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.section3 {
    background-color: #e2bc7914;
}
.section3_in {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 72px 120px 72px 120px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section3_in_text {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.section3_in_text_badge {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    background-color: #ffffff;
    color: #e2bc79;
    border-radius: 24px;
    margin: 0;
    padding: 8px 16px 8px 16px;
}
.section3_in_text_badge i {
    margin-right: 9px;
}
.section3_in_text h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    color: #262626;
    margin: 24px 0px 24px 0px;
}
.section3_in_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #4f4f4f;
    margin: 0;
    max-height: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section3_in_text_link {
    margin: 4px 0px 24px 0px;
}
.section3_in_text a {
    color: #4f4f4f;
    text-decoration: underline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
.section3_in_text a:hover {
    color: #757575;
}
.section3_in_text button {
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    background-color: #e2bc79;
    color: #ffffff;
    width: 200px;
    height: 58px;
    border-radius: 45px;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
.section3_in_text button:hover {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
}

.section3_in_img {
    margin-left: 48px;
    width: 50%;
}
.section3_in_img img {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .section3_in_img {
        display: none;
    }
    .section3_in {
        padding: 48px;
    }
    .section3_in_text {
        width: 100%;
    }
    .section3_in_text p {
        max-height: 78px;
    }
}
@media only screen and (max-width: 576px) {
    .section3_in {
        padding: 48px 24px;
    }
    .section3_in_text p {
        max-height: 200px;
    }
}

/*
SECTION 4  Collection, text only, card  DEBUT 
*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.section4 {
    background: linear-gradient(0deg, rgba(0, 125, 255, 0.08), rgba(0, 125, 255, 0.08)), #ffffff;
}
.section4_in {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 72px 120px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.section4_in_text {
    display: flex;
    flex-direction: column;
}
.section4_in_text h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    color: #262626;
    margin: 24px 0px 24px 0px;
}
.section4_in_text span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #e2bc79;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 45px;
}
.section4_in_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #4f4f4f;
}
.section4_in_text a {
    margin: 4px 0px 24px 0px;
}
.section4_in_text button {
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    background-color: #e2bc79;
    color: #ffffff;
    width: 200px;
    height: 58px;
    border-radius: 45px;
}

@media only screen and (max-width: 992px) {
    .section4_in {
        padding: 48px;
    }
}

@media only screen and (max-width: 576px) {
    .section4_in {
        padding: 48px 24px;
    }
}

/*  SECTION 5  Slider of collections, regular, web  DEBUT */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POLICE DEBUT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.section5 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 74px 0px 72px 123px;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
}
.section5 h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    color: #262626;
}
.section5 h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    color: #ffffff;
    padding: 16px 16px 32px 16px;
    margin: 0;
    text-overflow: ellipsis;
}
/* POLICE FIN */

.section5_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 117px 26px 0px;
}
.section5_header_button {
    display: flex;
    align-items: flex-start;
}
.section5_header_button_left {
    background-color: #ffffff;
    border: solid rgba(79, 79, 79, 0.26) 1.5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px 16px;
}
.section5_header_button_right {
    background-color: #ffffff;
    border: solid #007dff 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0;
}
.section5_header_button_left img {
    width: 16px;
    height: 16px;
}

.section5_card {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}
.section5_card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: none;
    width: 282px;
    height: 317.32px;
    border-radius: 24px;
    margin-right: 24px;
}
.section5_card div:hover {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
}

.section5_card img {
    width: 282px;
    height: 211.32px;
}
.section5_slider_card_1 {
    background-color: #e86317;
}
.section5_slider_card_2 {
    background-color: #a2536c;
}
.section5_slider_card_3 {
    background-color: #30ae9b;
}
.section5_slider_card_4 {
    background-color: #e86317;
}

@media only screen and (max-width: 992px) {
    .section5 {
        padding: 48px 0px 48px 48px;
    }
    .section5_header {
        margin: 0px 48px 24px 0px;
    }
    .section5_header_button {
        display: none;
    }
    .section5_card div {
        width: 247px;
        height: 320.25px;
    }
    .section5_card img {
        width: 247px;
        height: 185.25px;
    }
}
@media only screen and (max-width: 576px) {
    .section5 {
        padding: 48px 0px 48px 24px;
    }
    .section5_header {
        margin: 0px 24px 24px 0px;
    }
}

/*  SECTION 7  Volunteering programme  DEBUT */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POLICE DEBUT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@font-face {
    font-family: "VCHoney-BoldBanner";
    src: url("./supports/fonts/Honey/web/VCHoney-BoldBanner.woff2") format("woff2"),
        url("./supports/fonts/Honey/web/VCHoney-BoldBanner.woff") format("woff");
}
.section7_cards h3 {
    font-family: "VCHoney-BoldBanner", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.section7_cards p,
.section7_cards_sources,
.section7_text p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.section7_text h2,
.section7_text a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}
/* POLICE FIN */

.section7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 94px 117px 72px 123px;
    max-width: 1200px;
    margin: auto;
}

.section7_cards {
    display: flex;
    flex-direction: row;
    margin: 0px 48px 0px 0px;
}
.section7_cards p,
.section7_cards h3 {
    margin: 0;
}
.section7_cards_1,
.section7_cards_2,
.section7_cards_3,
.section7_cards_4 {
    width: 255px;
    height: 255px;
    border-radius: 24px;
}
.section7_cards_2,
.section7_cards_3,
.section7_cards_4 {
    padding: 72.5px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section7_cards h3 {
    font-size: 48px;
    line-height: 57.6px;
}
.section7_cards p {
    font-size: 16px;
    line-height: 25.6px;
}
.section7_cards_2 h3,
.section7_cards_3 h3,
.section7_cards_2 p,
.section7_cards_3 p {
    text-align: center;
    color: #ffffff;
}
.section7_cards_4 h3,
.section7_cards_4 p {
    text-align: center;
    color: #262626;
}

.section7_cards_1 {
    margin: 72px 24px 24px 0px;
}
.section7_cards_1 img {
    width: 255px;
    height: 255px;
}
.section7_cards_2 {
    background: rgba(0, 125, 255, 0.6);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    margin: 0px 24px 0px 0px;
}
.section7_cards_3 {
    background: #007dff;
    margin: 0;
}
.section7_cards_4 {
    background: linear-gradient(0deg, rgba(0, 125, 255, 0.08), rgba(0, 125, 255, 0.08)), #ffffff;
    margin: 24px 0px 24px 0px;
}
.section7_cards_sources {
    font-size: 14px;
    line-height: 22.4px;
    color: #757575;
}

.section7_text {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.section7_text h2 {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0px;
    text-align: left;
    color: #262626;
    margin: 0;
}
.section7_text p {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #4f4f4f;
    margin: 24px 0px;
}
.section7_text a {
    font-size: 16px;
    line-height: 25.6px;
    color: #007dff;
    text-decoration: none;
}
.section7_card_link img {
    width: 15px;
    height: 14.83px;
    margin-left: 10px;
}
.section7_text a:hover img {
    margin-left: 20px;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 992px) {
    .section7 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 72px 48px 76px 48px;
    }
    .section7_text {
        margin: 48px 0px 0px 0px;
    }
    .section7_cards {
        margin: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 576px) {
    .section7 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 48px 24px 48px 24px;
    }
    .section7_text {
        margin: 0px;
    }
    .section7_cards_1,
    .section7_cards_2,
    .section7_cards_3,
    .section7_cards_4 {
        width: 100%;
        height: auto;
    }
    .section7_cards_1 img {
        width: 130.37px;
        height: 130.37px;
    }
    .section7_cards {
        margin: 48px 0px 0px 0px;
        width: 100%;
    }
    .section7_card_1_2,
    .section7_card_3_4 {
        width: 50%;
    }
    .section7_cards_2,
    .section7_cards_3,
    .section7_cards_4 {
        padding: 37.68px 12.27px;
    }
    .section7_cards h3 {
        font-size: 24.54px;
        line-height: 29.45px;
    }
    .section7_cards p {
        font-size: 8.18px;
        line-height: 13.09px;
    }
    .section7_cards_1 {
        margin: 36.81px 12px 12.27px 0px;
    }
    .section7_cards_2 {
        margin: 0px 12px 0px 0px;
    }
    .section7_cards_4 {
        margin: 12.27px 0px 12.27px 0px;
    }
    .section7_cards_sources {
        font-size: 7.16px;
        line-height: 11.45px;
    }
}

/*  SECTION 9  Redirection  DEBUT */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POLICE DEBUT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.section9 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
/* POLICE FIN */
.section9 {
    max-width: 1200px;
    margin: auto;
}
.section9_card {
    margin: 72px 117px 72px 123px;
    background: #007dff;
    border-radius: 24px;
}
.section9_card_text {
    padding: 48px 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section9_card_text h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}
.section9_card_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
    color: #ffffff;
    margin: 24px 0px;
}
.section9_card_text button {
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    color: #000000;
    background: #fbfbfb;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 48px;
    padding: 16px 32px;
    border: none;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
.section9_card_text button:hover {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 992px) {
    .section9_card {
        margin: 0px;
        border-radius: 0;
    }
    .section9_card_text {
        padding: 48px;
    }
}
@media only screen and (max-width: 576px) {
    .section9_card_text {
        padding: 48px 24px;
    }
}

/*  SECTION 10  Newsfeed  DEBUT */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POLICE DEBUT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* POLICE FIN */

.section10 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: linear-gradient(0deg, rgba(0, 125, 255, 0.08), rgba(0, 125, 255, 0.08)), #ffffff;
    padding: 72px 48px 76px 48px;
}

.section10 h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: #262626;
    margin-bottom: 48px;
}

.section10_card {
    width: 792px;
    margin: auto;
}
.section10_card_text {
    background: #ffffff;
    box-shadow: 0px 0px 0px 1px #e0e0e0;
    border-radius: 8px;
    padding: 16px;
}
.section10_card_text_profile img {
    width: 60px;
    height: 60px;
}
.section10_card_text_profile {
    display: flex;
}
.section10_card_text_profile_content {
    margin-left: 10px;
}
.section10_card_text_profile_content p {
    font-size: 14px;
    line-height: 22.4px;
    margin: 0;
}
.section10_card_text_profile_content_name {
    font-weight: 600;
    color: #262626;
}
.section10_card_text_profile_content_company {
    font-weight: 400;
    color: #262626;
}
.section10_card_text_profile_content_date {
    font-weight: 400;
    color: #757575;
}

.section10_card_text_content {
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    color: #4f4f4f;
    margin: 16px 0px 16px 0px;
}
.section10_card_text_img {
    height: 570px;
    border-radius: 24px;
}
.section10_card_text_img img {
    width: 760px;
    height: 570px;
}
.section10_card_text_button {
    margin-top: 16px;
    display: flex;
}
.section10_card_text_button_like,
.section10_card_text_button_comment {
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #262626;
    border: none;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section10_card_text_button_like img,
.section10_card_text_button_comment img {
    margin-right: 10px;
    width: 20px;
    height: 18px;
}

.section10_card_link {
    margin-top: 28px;
}
.section10_card_link a {
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    color: #262626;
}
.section10_card_link img {
    width: 12px;
    height: 12px;
    margin-left: 11px;
}

.section10_card_link a:hover img {
    margin-left: 20px;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 992px) {
    .section10 {
        padding: 48px 48px 52px 48px;
    }
    .section10_card {
        width: 100%;
    }
    .section10_card_text_img {
        height: 179.84px;
    }
    .section10_card_text_img img {
        width: 240px;
        height: 179.84px;
    }
}
@media only screen and (max-width: 576px) {
    .section10 {
        padding: 48px 24px 52px 24px;
    }
}
